# SQLite database files
portfolio.db
portfolio.db-journal

# Python caches and compiles
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# OS specific files
.DS_Store
Thumbs.db
